.master_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 500px;
    height: 500px;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    align-items: center;
    width: 305px;
    height: 305px;
    background-color: blue;
    gap: 10px;
    /* padding: 10px; */
    border: 10px solid maroon;
}
.box{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
}